<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Untitled Document</title>
</head>

<style type="text/css">
<!--
@import url("../CSS/hotel.css");
.style4 {font-size: 24px}
-->
</style>

</head>

<body>
<table width="800" height="600" border="0" cellspacing="0">
  <tr background="../navi_left.gif">
    <th width="14%" height="102" background="../images/upper_n_left.gif" scope="col"><div id="logo"></div></th>
    <th width="49%" background="../images/upper_n_left.gif" scope="col"><div id="location">
      <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="300" height="100">
        <param name="movie" value="../SWF/Head_Left_registration.swf">
        <param name="quality" value="high">
        <embed src="../SWF/Head_Left_registration.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="300" height="100"></embed>
      </object>
    </div></th>
    <th width="37%" background="../images/upper_n_left.gif" scope="col"><div id="menu"></div></th>
  </tr>
  <tr>
    <th height="364" background="../images/upper_n_left.gif" bgcolor="#FFFFCC" scope="row"><div id="navi"></div></th>
    <td colspan="2" rowspan="2"><div id="center">
      <div id="center_center">
        <form name="form1" method="post" action="">
          <table width="94%" height="687" border="0" cellspacing="0">
            <tr>
              <th colspan="2" scope="col"><span class="style4">Account Information</span> </th>
              </tr>
            <tr>
              <th width="39%" scope="col"><div align="left">User Name : </div></th>
              <th width="61%" scope="col"><div align="left">
                <label>
                <input name="uname" type="text" id="uname">
                </label>
              </div></th>
            </tr>
            <tr>
              <th scope="row"><div align="left">Password:</div></th>
              <td><label>
                <input name="password" type="password" id="password">
              </label></td>
            </tr>
            <tr>
              <th scope="row"><div align="left">Confirm Password: </div></th>
              <td><label>
                <input name="cpassword" type="password" id="cpassword">
              </label></td>
            </tr>
            <tr>
              <th colspan="2" scope="row"><span class="style4">Personal Information</span> </th>
              </tr>
            <tr>
              <th scope="row"><div align="left">Name:</div></th>
              <td><label>
                <input name="name" type="text" id="name">
              </label></td>
            </tr>
            <tr>
              <th scope="row"><div align="left">Sur Nmae: </div></th>
              <td><label>
                <input name="surname" type="text" id="surname">
              </label></td>
            </tr>
            <tr>
              <th scope="row"><div align="left">Title:</div></th>
              <td><label>
                <select name="title" id="title">
                  <option value="mr">Mr</option>
                  <option value="dr">Dr</option>
                  <option value="mss">Mss</option>
                </select>
              </label></td>
            </tr>
            <tr>
              <th scope="row"><div align="left">Phone Number: </div></th>
              <td><label>
                <input name="phoneno" type="text" id="phoneno">
              </label></td>
            </tr>
            <tr>
              <th scope="row"><div align="left">Fax Number: </div></th>
              <td><label>
                <input name="faxno" type="text" id="faxno">
              </label></td>
            </tr>
            <tr>
              <th scope="row"><div align="left">Mopile Number: </div></th>
              <td><label>
                <input name="mopileno" type="text" id="mopileno">
              </label></td>
            </tr>
            <tr>
              <th scope="row"><div align="left">Address: </div></th>
              <td><label>
                <textarea name="address" id="address"></textarea>
              </label></td>
            </tr>
            <tr>
              <th scope="row"><div align="left">Passport Number: </div></th>
              <td><label>
                <input name="passportno" type="text" id="passportno">
              </label></td>
            </tr>
            <tr>
              <th scope="row"><div align="left">Nationality:</div></th>
              <td><label>
                <input name="nationality" type="text" id="nationality">
              </label></td>
            </tr>
            <tr>
              <th scope="row"><div align="left">P.O.Box:</div></th>
              <td><label>
                <input name="pobox" type="text" id="pobox">
              </label></td>
            </tr>
            <tr>
              <th scope="row"><div align="left">Email:</div></th>
              <td><label>
                <input name="email" type="text" id="email">
              </label></td>
            </tr>
            <tr>
              <th colspan="2" scope="row"><div align="left">Do you want us to send you the user name and password to the email : </div>                <div align="left"></div></th>
              </tr>
            <tr>
              <th colspan="2" scope="row">Yes 
                <label>
                <input name="yes" type="radio" value="mail">
                No 
                <input name="no" type="radio" value="mail">
                </label></th>
              </tr>
            <tr>
              <th colspan="2" scope="row"><label>
                <input type="submit" name="Submit" value="submit">
                 <input type="reset" name="Submit2" value="reset">
              </label></th>
            </tr>
          </table>
          </form>
        <p>&nbsp;</p>
        </div>
    </div></td>
  </tr>
  <tr>
    <th background="../images/upper_n_left.gif" scope="row"><div id="clock">
      <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="201" height="202">
        <param name="movie" value="../Clock.swf" />
        <param name="quality" value="high" />
        <embed src="../Clock.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="201" height="202"></embed>
      </object>
    </div></th>
  </tr>
</table>
</body>
</html>
