<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>login_control</servlet-name>
        <servlet-class>com.hotel.web.login_control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reservation_control</servlet-name>
        <servlet-class>com.hotel.web.reservation_control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>room_search</servlet-name>
        <servlet-class>com.hotel.web.room_search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>room_validate</servlet-name>
        <servlet-class>com.hotel.web.room_validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registeration_control</servlet-name>
        <servlet-class>com.hotel.web.registeration_control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reservation_update</servlet-name>
        <servlet-class>com.hotel.web.reservation_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>events_control</servlet-name>
        <servlet-class>com.hotel.web.events_control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>before_add_event</servlet-name>
        <servlet-class>com.hotel.deprecated.before_add_event</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_event</servlet-name>
        <servlet-class>com.hotel.web.add_event</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>event_update</servlet-name>
        <servlet-class>com.hotel.web.event_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>before_profile</servlet-name>
        <servlet-class>com.hotel.deprecated.before_profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profile_control</servlet-name>
        <servlet-class>com.hotel.web.profile_control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>services_control</servlet-name>
        <servlet-class>com.hotel.web.services_control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>emp_registration_control</servlet-name>
        <servlet-class>com.hotel.web.emp_registration_control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>services_update</servlet-name>
        <servlet-class>com.hotel.web.services_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_service_control</servlet-name>
        <servlet-class>com.hotel.web.add_service_control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DB_Checker_starter</servlet-name>
        <servlet-class>com.hotel.web.DB_Checker_starter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.hotel.web.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>db_action_control</servlet-name>
        <servlet-class>com.hotel.web.db_action_control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>db_action_control_emp</servlet-name>
        <servlet-class>com.hotel.web.db_action_control_emp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmation_control</servlet-name>
        <servlet-class>com.hotel.web.confirmation_control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check_in</servlet-name>
        <servlet-class>com.hotel.web.check_in</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profile_admin_control</servlet-name>
        <servlet-class>com.hotel.web.profile_admin_control</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login_control</servlet-name>
        <url-pattern>/login.page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reservation_control</servlet-name>
        <url-pattern>/reservation.page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>room_search</servlet-name>
        <url-pattern>/room_search.page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>room_validate</servlet-name>
        <url-pattern>/room_validate.page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registeration_control</servlet-name>
        <url-pattern>/registeration.page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reservation_update</servlet-name>
        <url-pattern>/reservation_update.page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>events_control</servlet-name>
        <url-pattern>/events_control.page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>before_add_event</servlet-name>
        <url-pattern>/before_add_event.page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_event</servlet-name>
        <url-pattern>/add_event.page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>event_update</servlet-name>
        <url-pattern>/event_update.page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>before_profile</servlet-name>
        <url-pattern>/before_profile.page</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>profile_control</servlet-name><url-pattern>/profile_control.page</url-pattern></servlet-mapping>
    <servlet-mapping>
        <servlet-name>services_control</servlet-name>
        <url-pattern>/services_control.page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>emp_registration_control</servlet-name>
        <url-pattern>/emp_registration_control.page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>services_update</servlet-name>
        <url-pattern>/services_update.page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_service_control</servlet-name>
        <url-pattern>/add_service_control.page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DB_Checker_starter</servlet-name>
        <url-pattern>/DB_Checker_starter.page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout.page</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>db_action_control</servlet-name><url-pattern>/db_action_control.page</url-pattern></servlet-mapping>
    <servlet-mapping><servlet-name>db_action_control_emp</servlet-name><url-pattern>/db_action_control_emp.page</url-pattern></servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmation_control</servlet-name>
        <url-pattern>/confirmation_control.page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check_in</servlet-name>
        <url-pattern>/check_in.page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile_admin_control</servlet-name>
        <url-pattern>/profile_admin_control.page</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
	<welcome-file>
            home.jsp
        </welcome-file>
    </welcome-file-list>
    
    
    
    </web-app>
