#{extends 'main.html' /}
#{set title:'Home' /}

<style>
table, th, td {
	border:1px solid black;
}
</style>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		var ajsubmit = #{jsAction @searchSQL(':query') /};
		$('#search').keyup(function(){
			//if($('#search').attr('value').length < 1) return;
			$.post(ajsubmit({query : $('#search').attr('value')}),
				function(authors){
					 updateData(authors);
				}
			)
		});

	function updateData(json){
		$('#results').html('');
			var books;
			$.each(json, function(i, val) {
				$('#results').append('<tr>');

				$('#results').append('<td id=\"fn'+i+'\">');
				$('#results').append('</td>');
				$('#fn'+i).append(val['firstName']);				

				$('#results').append('<td id=\"ln'+i+'\">');
				$('#results').append('</td>');
				$('#ln'+i).append(val['lastName']);				

				$('#results').append('<td id=\"bk'+i+'\">');
				$('#results').append('</td>');
				$('#bk'+i).append('<ul id=\"BooksList'+i+'\">');
				$('#bk'+i).append('</ul>');		
				books = val['books'];
				if(books.length > 0){
					$.each(books, function(y, books) {
						$('#BooksList'+i).append('<li id=\"book'+i+''+y+'\">');
						$('#BooksList'+i).append('</li>');
						$('#book'+i+''+y).append(books['title']);
					});
				}else{
					$('#BooksList'+i).append('<li id=\"book'+i+''+0+'\">');
					$('#BooksList'+i).append('</li>');					
					$('#book'+i+''+0).append('No Books');
				}

				$('#results').append('</tr>');
				});
	}
	})
</script>


<div>
  <label for="search">Search:</label>
  <input type="text" size="100" id="search" name="search" />
</div>

<br />

<table>
  <thead>
    <tr>
      <th>
        First Name
      </th>
      <th>
        Last Name
      </th>
      <th>
        Books
      </th>
    </tr>
  <thead>
  <tbody id="results">
  #{list items:authors, as:'author'}
    <tr>
      <td>
        ${author.firstName}
      </td>
      <td>
        ${author.lastName}
      </td>
      <td>
      #{if author.books.size() > 0}
      #{list items:author.books, as:'book'}
        <ul>
          <li>
            ${book.title}
          </li>
        </ul>
      #{/list}
      #{/if}
      #{else}
        No Books
      #{/else}
      </td>
    </tr>
  #{/list}
  </tbody>
</table>
